In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

from extract_npl_data import extract_npl
from extract_macroeconomic_data import extract_reporate, extract_cpi, extract_unemployment, extract_gdp

In [ ]:
# npl_df = extract_npl()

npl_df = pd.read_csv('npl_data_all_banks.csv', encoding='utf-8')

reporate_df = extract_reporate()
cpi_df = extract_cpi()
unemployment_df = extract_unemployment()
gdp_df = extract_gdp()

In [9]:
npl_df

,institution,date,file_path,gross_loans,credit_impairments,npl_ratio
0,ABSA BANK LTD,2022-01-01,test_data/BA900_2022-01-01_zipcsv/34118.csv,36866573.0,31941837.0,86.641731
1,AFRICAN BANK LIMITED (N),2022-01-01,test_data/BA900_2022-01-01_zipcsv/160571.csv,3781224.0,10205358.0,269.895621
2,BANK OF CHINA LTD JHB BRANCH (T/A BANK OF CHIN...,2022-01-01,test_data/BA900_2022-01-01_zipcsv/337889.csv,6555376.0,359716.0,5.487344
3,BNP PARIBAS SOUTH AFRICA BRANCH,2022-01-01,test_data/BA900_2022-01-01_zipcsv/478636.csv,17.0,19661.0,115652.941176
4,CAPITEC BANK,2022-01-01,test_data/BA900_2022-01-01_zipcsv/333107.csv,6822732.0,18131045.0,265.744646
...,...,...,...,...,...,...
556,INVESTEC BANK LTD,2025-02-01,test_data/BA900_2025-02-01_zipcsv/25054.csv,2335914.0,3032562.0,129.823358
557,JPMORGAN CHASE BANK (JOHANNESBURG BRANCH),2025-02-01,test_data/BA900_2025-02-01_zipcsv/331899.csv,9.0,55184.0,613155.555556
558,NEDBANK LTD,2025-02-01,test_data/BA900_2025-02-01_zipcsv/416088.csv,18750887.0,27306423.0,145.627367
559,STANDARD CHARTERED BANK,2025-02-01,test_data/BA900_2025-02-01_zipcsv/535788.csv,290043.0,283777.0,97.839631
560,THE STANDARD BANK OF S A LTD,2025-02-01,test_data/BA900_2025-02-01_zipcsv/416061.csv,44000492.0,52572369.0,119.481321

In [2]:
reporate_df

            repo_rate
date
2025-07-01       7.25
2025-06-30       7.25
2025-06-27       7.25
2025-06-26       7.25
2025-06-25       7.25
...               ...
2022-01-07       3.75
2022-01-06       3.75
2022-01-05       3.75
2022-01-04       3.75
2022-01-03       3.75

[871 rows x 1 columns]

In [3]:
cpi_df

            inflation_rate
date
2022-01-01             5.7
2022-02-01             5.7
2022-03-01             5.9
2022-04-01             5.9
2022-05-01             6.5
2022-06-01             7.4
2022-07-01             7.8
2022-08-01             7.6
2022-09-01             7.5
2022-10-01             7.6
2022-11-01             7.4
2022-12-01             7.2
2023-01-01             6.9
2023-02-01             7.0
2023-03-01             7.1
2023-04-01             6.8
2023-05-01             6.3
2023-06-01             5.4
2023-07-01             4.7
2023-08-01             4.8
2023-09-01             5.4
2023-10-01             5.9
2023-11-01             5.5
2023-12-01             5.1
2024-01-01             5.3
2024-02-01             5.6
2024-03-01             5.3
2024-04-01             5.2
2024-05-01             5.2
2024-06-01             5.1
2024-07-01             4.6
2024-08-01             4.4
2024-09-01             3.8
2024-10-01             2.8
2024-11-01             2.9
2024-12-01             3.0
2025-01-01             3.2
2025-02-01             3.2
2025-03-01             2.7
2025-04-01             2.8
2025-05-01             2.8

In [4]:
unemployment_df

            unemployment_rate
date
2021-10-01           35.27707
2022-01-01           34.23624
2022-04-01           34.20478
2022-07-01           32.85991
2022-10-01           32.76240
2023-01-01           32.59385
2023-04-01           32.76249
2023-07-01           31.96400
2023-10-01           32.18605
2024-01-01           32.67073
2024-04-01           33.53903
2024-07-01           32.17071
2024-10-01           32.02299
2025-01-01           32.68566

In [5]:
gdp_df

                  gdp
date
2021-10-01  1134883.9
2022-01-01  1152147.1
2022-04-01  1141637.0
2022-07-01  1162811.0
2022-10-01  1146094.5
2023-01-01  1154024.4
2023-04-01  1163383.4
2023-07-01  1158936.1
2023-10-01  1163448.0
2024-01-01  1164447.9
2024-04-01  1167433.1
2024-07-01  1164042.3
2024-10-01  1168684.4
2025-01-01  1169838.5